@(controller:de.htwg.se.uno.controller.controllerComponent.ControllerInterface)

@main("Uno") {
<body background=@routes.Assets.versioned("images/assets/Table_2.png")>
<center>
    <h1>Uno</h1>
    <h3>Wähle eine Farbe</h3>
    <table>
        <td>
            @if(controller.getHs2.charAt(2).equals('C')) {
            <a href="@{s"/setspecial/${controller.getHs2}/blue"}">
            <img src=@routes.Assets.versioned(s"images/assets/Blue_C.png") width="90"/>
            </a>
            } else {
            <a href="@{s"/setspecial/${controller.getHs2}/blue"}">
            <img src=@routes.Assets.versioned(s"images/assets/Blue_D.png") width="90"/>
            </a>
            }
        </td>
        <td>
            @if(controller.getHs2.charAt(2).equals('C')) {
            <a href="@{s"/setspecial/${controller.getHs2}/red"}">
            <img src=@routes.Assets.versioned(s"images/assets/Red_C.png") width="90"/>
            </a>
            } else {
            <a href="@{s"/setspecial/${controller.getHs2}/red"}">
            <img src=@routes.Assets.versioned(s"images/assets/Red_D.png") width="90"/>
            </a>
            }
        </td>
        <td>
            @if(controller.getHs2.charAt(2).equals('C')) {
            <a href="@{s"/setspecial/${controller.getHs2}/green"}">
            <img src=@routes.Assets.versioned(s"images/assets/Green_C.png") width="90"/>
            </a>
            } else {
            <a href="@{s"/setspecial/${controller.getHs2}/green"}">
            <img src=@routes.Assets.versioned(s"images/assets/Green_D.png") width="90"/>
            </a>
            }
        </td>
        <td>
            @if(controller.getHs2.charAt(2).equals('C')) {
            <a href="@{s"/setspecial/${controller.getHs2}/yellow"}">
            <img src=@routes.Assets.versioned(s"images/assets/Yellow_C.png") width="90"/>
            </a>
            } else {
            <a href="@{s"/setspecial/${controller.getHs2}/yellow"}">
            <img src=@routes.Assets.versioned(s"images/assets/Yellow_D.png") width="90"/>
            </a>
            }
        </td>
    </table>
    <br><br><br><br><br>
    <h3>Dein Blatt</h3>
    <table>
        @for(card <- 0 until controller.getLength(4)) {
        <td>
            <img src=@routes.Assets.versioned(s"images/assets/${controller.getCardText(4, card).replace(' ',
            '_')}.png") width="90">
        </td>
        }
    </table>

</center>
</body>
}