@()

@main("Uno") {
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
</head>
<body>
<center>
    <nav class="navMenu">
        <div class="dropdown">
            <a class="ref" href="/">About</a>
            <div class="dot"></div>
        </div>
        <div class="dropdown">
            <button class="link">Game</button>
            <div class="dot"></div>
            <div class="dropdown-menu">
                <a href="/new/2">2 Players</a>
                <a href="/new/3">3 Players</a>
                <a href="/new/4">4 Players</a>
            </div>
        </div>
    </nav>
</center>
<div class="aboutPage">
    <center>
        <h1>Uno</h1>
        <hr/>
        <p>
            Uno ist ein US-amerikanisches Kartenspiel, dessen primäres Ziel es ist,
            seine Karten vergleichbar mit Mau-Mau möglichst schnell abzulegen, wobei mit einem speziellen Blatt gespielt
            wird. Das Spiel wurde auf der Grundlage einer traditionellen Spielidee bereits 1969 von Merle Robbins –
            einem Inhaber eines Friseursalons in Milford – mit Hilfe seiner Frau Marie, seinem Sohn
            Ray und dessen Frau Kathy entwickelt. Anfangs wurde es nur in der eigenen Familie gespielt. Seit 1972
            wird
            das
            Spiel von der Firma International Games international vermarktet.
            <br/>
            <br/>
            Das Spiel besteht aus 108 Karten. Dabei gibt es Zahlen- sowie Aktionskarten in 4 verschiedenen Farben &
            außerdem schwarze Sonderkarten. Die Zahlen- & Aktionskarten gibt es in den Farben Blau, Grün, Gelb &
            Rot.
            Die Zahlenkarten gehen von 0-9, wobei es die 0 in jeder Farbe nur einmal gibt und die Karten 1-9 in
            jeder Farbe
            2 mal. Die Aktionskarten bestehen aus einer Aussetzen-Karte, einer Richtungswechsel-Karte und einer
            +2-Karte. Diese gibt es jeweils auch 2 mal in jeder Farbe. Die schwarzen Sonderkarten bestehen aus einer
            Farbwechsel-Karte & einer +4-Karte, beide Sonderkarten gibt es jeweils 4 mal. Die Funktionsweise der
            Aktions- & Sonderkarten wird unten genauer erklärt.
            <br/>
        </p>

        <h1>Spielregeln</h1>
        <hr/>

        <h3>Ziel des Spiels</h3>

        <p>
            Das Ziel des Spiels ist es, die eigenen Handkarten vollständig abzulegen, bevor ein anderer Spieler seine
            Karten vollständig ablegen konnte. Das Spiel kann gegen 1, 2 oder 3 Gegner gespielt werden.
        </p>

        <h3>Zu Beginn des Spiels</h3>

        <p>
            Bei jedem neuen Spiel erhält jeder Spieler 7 zufällige Handkarten. Die verbleibenden Karten werden verdeckt
            in die Mitte gelegt und bilden den Kartenstapel. Vom Kartenstapel wird die oberste Karte
            aufgedeckt und daneben gelegt. Dieser Stapel bildet den Ablegestapel. Du beginnst jede Spielrunde.
        </p>

        <h3>Spielverlauf</h3>

        <p>
            Der erste Spieler legt eine Karte von seiner Hand auf den Ablagestapel. Dabei gilt: Eine Karte kann nur auf
            eine Karte der gleichen Farbe oder der gleichen Zahl gelegt werden. Kann ein Spieler keine passende Karte
            legen, so muss er eine Strafkarte vom verdeckten Stapel ziehen. Diese Karte kann er sofort wieder
            ausspielen, sofern diese passt. Hat er keine passende Karte ist der nächste Spieler an der Reihe. Die Runde
            gewinnt derjenige, welcher die letzte Karte abgelegt hat.
        </p>

        <br><br>
        <h1>Aktions- & Spezialkarten</h1>
        <hr/>

        <h3>Aktionskarten</h3>

    </center>
    <table>
        <tr>
            <td>
                <img src=@routes.Assets.versioned("images/assets/R+2.png") width="100">
            </td>
            <td>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </td>
            <td>
                <h4>Zieh Zwei Karten</h4>
                <p>
                    Wenn diese Karte gelegt wird, muss der nächste Spieler 2 Karten ziehen und darf
                    in dieser Runde keine Karten ablegen. Diese Karte kann nur auf eine Karte mit entsprechender
                    Farbe oder andere Zieh Zwei Karten gelegt werden.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <img src=@routes.Assets.versioned("images/assets/R_D.png") width="100">
            </td>
            <td>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </td>
            <td>
                <h4>Richtungswechsel Karte</h4>
                <p>
                    Bei dieser Karte ändert sich die Spielrichtung. Wenn bisher nach links gespielt wurde, wird nun nach
                    rechts gespielt und umgekehrt. Die Karte kann nur auf eine entsprechende Farbe oder eine andere
                    Retour Karte gelegt werden.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <img src=@routes.Assets.versioned("images/assets/R_S.png") width="100">
            </td>
            <td>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </td>
            <td>
                <h4>Aussetzen Karte</h4>
                <p>
                    Nachdem diese Karte gelegt wurde, wird der nächste Spieler „übersprungen“. Die Karte kann nur
                    auf eine andere mit entsprechender Farbe oder eine andere Aussetzen Karte gelegt werden.
                </p>
            </td>
        </tr>
    </table>
    <center>
        <h3>Spezialkarten</h3>
    </center>
    <table>
        <tr>
            <td>
                <img src=@routes.Assets.versioned("images/assets/S_C.png") width="100">
            </td>
            <td>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </td>
            <td>
                <h4>Farbauswahlkarte</h4>
                <p>
                    Der Spieler, der diese Karte legt, entscheidet welche Farbe als nächstes gelegt werden soll. Auch
                    die schon liegende Farbe darf gewählt werden. Ein Farbenwahl Karte darf auch dann gelegt werden,
                    wenn der Spieler eine andere Karte legen könnte. Wenn eine Farbenwahl Karte zu Beginn des Spiels
                    gezogen wird, entscheidet der beginnende Spieler, welche Farbe als nächstes gelegt werden soll.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <img src=@routes.Assets.versioned("images/assets/S+4.png") width="100">
            </td>
            <td>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </td>
            <td>
                <h4>Zieh Vier Farbauswahlkarte</h4>
                <p>
                    Diese Karte ist die beste. Der Spieler, der sie legt, entscheidet, welche Farbe als nächstes gelegt
                    werden soll. Zudem muss der nächste Spieler 4 Karten von dem Kartenstapel nehmen. Er darf in
                    dieser Runde keine Karte ablegen. Leider darf die Karte nur dann gelegt werden, wenn der Spieler der
                    sie hat, keine Karte in der Hand hält, die der Farbe auf dem Ablegestapel entspricht. Hat der
                    Spieler eine Karte mit der entsprechenden Nummer oder Aktionskarten, kann die Zieh Vier
                    Farbauswahlkarte dennoch gelegt werden.
                </p>
            </td>
        </tr>
    </table>
</div>
</body>
}