@(controller: de.htwg.se.uno.controller.controllerComponent.ControllerInterface)

@main("Uno") {
    <div class="container-fluid content-container">
        <div class="row">
            <div class="col-md-5 col-sm-12 text-center"></div>
            <div class="col-md-2 col-sm-12 text-center">
                <h1 class="unoHeading">Uno</h1>
            </div>
            <div class="col-md-5 col-sm-12 text-center">
                <div class="iconMenu">
                    <a href="/undo"><i class="fas fa-undo-alt"></i></a>
                    <a href="/redo"><i class="fas fa-redo-alt"></i></a>
                    <a href="/save"><i class="fas fa-save"></i></a>
                    <a href="/load"><i class="fas fa-file-upload"></i></a>
                </div>
            </div>
        </div>
        @for(player <- 0 until controller.getNumOfPlayers) {
            @if(player % 2 == 0 || (controller.getNumOfPlayers == 2 && player == 1)) {
                <div class="row row-padding">
                @if(controller.getNumOfPlayers == 2 && player == 1 || controller.getNumOfPlayers != 2 && player == 2) {
                    @if(controller.controllerEvent("idle").equals("Wähle eine Farbe")) {

                        <!-- Choose-Color -->

                        @defining("Blue", "Red", "Green", "Yellow") { colors =>
                            <div class="col-md-12 text-center col-padding">
                                @for(color <- 0 until 4) {
                                    <a class="clickable-card-link" href="@{
                                        s"/setspecial/${controller.getHs2}/${colors.productElement(color).toString.toLowerCase()}"
                                    }">
                                        <img class="cardClickable" src="@routes.Assets.versioned(s"images/assets/${colors.productElement(color)}_${
                                            if(controller.getHs2.charAt(2).equals('C')) {
                                                "C"
                                            } else {
                                                "D"
                                            }
                                        }.png")" width="5%"/>
                                    </a>
                                }
                            </div>
                        }
                    } else {

                        <!-- Verdeckter & Offener Stapel -->

                        <div class="col-12 text-center col-padding">
                            <a class="clickable-card-link" href="/get"><img id="deck-card" class="cardClickable stacks-padding" src=@routes.Assets.versioned("images/assets/Deck.png") width="5%"></a>
                            <img id="open-card-stack" class="dropzone stacks-padding" src=@routes.Assets.versioned(s"images/assets/${
                                controller.getCardText(3, 1).replace(' ',
                                    '_')
                            }.png") width="5%">
                        </div>
                    }
                </div>
                <div class="row row-padding">
                }
            }

            <!-- Öffnen der Col-Divs für die einzelnen Spieler -->

            <div class="@{
                if((player - 1) % 2 == 0 && controller.getNumOfPlayers != 2) {
                    "col-md-6 text-md-start"
                } else if(controller.getNumOfPlayers == 2 || controller.getNumOfPlayers == 3 && player == 2) {
                    "col-md-12"
                } else {
                    "col-md-6 text-md-end"
                }
            } col-sm-12 text-center col-padding card-padding">
            @if(controller.getNumOfPlayers == 2 && player == 1 || controller.getNumOfPlayers == 3 && player == 2
                    || controller.getNumOfPlayers == 4 && player == 2) {

                <!-- Offene Kartenhand des Spielers -->

                @for(card <- 0 until controller.getLength(4)) {
                    <span class="container-dropzone">
                        <span class="dropzone draggable-dropzone--occupied">
                            <a class="clickable-card-link" href="@{
                                s"/${if(controller.getCardText(4, card).charAt(0).equals('S')) { "choosecolor" } else { "set" }}/${controller.getCardText(4, card)}"
                            }">
                                <img id="@{controller.getCardText(4, card)}" class="item-draggable cardClickable @{if (controller.nextTurn()) "active-player-glow"} @{if(controller.getNumOfPlayers <= 3) { "small-card" } else { "big-card" }}" src=@routes.Assets.versioned(s"images/assets/${
                                    controller.getCardText(4, card).replace(' ',
                                        '_')
                                }.png")>
                            </a>
                        </span>
                    </span>
                }
            </div>
        } else {

            <!-- Verdeckte Karten der Gegner -->

            @if(!(controller.getNumOfPlayers == 4 && player == 3)) {
                @for(card <- 0 until controller.getLength(player)) {
                    <img class="cardNotClickable buzz-out-on-hover @{if(controller.getNumOfPlayers < 3) {"small-card"} else {"big-card"} }  @{if ((controller.nextEnemy() - 1) == player && !controller.nextTurn()) "active-player-glow"}" src=@routes.Assets.versioned("images/assets/Deck.png") width="10%">
                }
            } else {
                @for(card <- 0 until controller.getLength(2)) {
                    <img class="cardNotClickable buzz-out-on-hover big-card @{if (controller.nextEnemy() == 3 && !controller.nextTurn()) "active-player-glow"}" src=@routes.Assets.versioned("images/assets/Deck.png")>
                    }
            }

            <!-- Schließen der verschiedenen Divs -->

            </div>
        }
        @if(controller.getNumOfPlayers == 2 && player != 1 || (controller.getNumOfPlayers != 2 && (player == 1 || player == controller.getNumOfPlayers - 1))) {
            </div>
        }
    }
    </div>

    <!-- Textausgabe -->

    @if(controller.controllerEvent("idle").equals("Du bist dran. Mögliche Befehle: q, n [2 | 3 | 4], t, s Karte [Farbe], g, u, r, d, sv, ld")) {
        <p id="game-text" class="gameText">Du bist am Zug</p>
    } else {
        <p id="game-text" class="gameText">@{
            controller.controllerEvent("idle")
        }</p>
    }
    </div>
}